<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Request Accepted</title>
    </head>
    <body>
        <h2>Hello {{requester_name}}! </h2>
        <p>Congratulations! Your request for {{class}} was approved. 
            Please reach out to the student who offered the post, if you have not already to finalize the swap details.
        </p>
        <br><p>Name: {{poster_name}}  Email: {{poster_email}}</p><br>
        <p>If there is any other class that you are interested in swapping, please feel free to open a transaction on BruinSwap. 
            We will also notify you if any of the other classes on your wishlist are offered.</p>
        <p>Best,</p>
        <p>Bruin Swap Team</p>
    </body>
</html>