<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Request Rejected</title>
    </head>
    <body>
        <h2>Hello {{requester_name}}! </h2>
        <p>Unfortunately, your request for {{class}} has been rejected. </p>
        <p>If there is any other class that you are interested in swapping, please feel free to open a transaction on BruinSwap. 
            If {{class}} is on your wishlist, we will notify you again if someone offers it again.</p>
        <p>Best,</p>
        <p>Bruin Swap Team</p>
    </body>
</html>