<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>New Transaction Notification</title>
    </head>
    <body>
        <h2>Hello {{name}}! </h2>
        <p>We just wanted to inform you that a new transaction has been posted for {{class}}, on your wishlist. </p>
        <p>Claim the offer on our website if you are interested in making a swap.</p>
        <p>Best,</p>
        <p>Bruin Swap Team</p>
    </body>
</html>