.profileButton{
    background-color: #2774AE;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    border: 100px;
    margin-top: 30px;
    position: static;
}

.profileButton:hover {
    background-color: #FFD100;
    cursor: pointer;
}

.inputForm{
    border-radius: 20px; 
    padding: 3px; 
    border: 10px solid #ccc; 
    outline: #2774AE; 
    color: black
}
.spacing{
    margin-top: 10px
}

.currentButton{
    background-color: #2774AE;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    border: 100px;
    margin-top: 30px;
    position: static;
    
}
.currentButton:hover {
    background-color: #FFD100;
    cursor: pointer;
}

.courseCard {
    background-color: #f2f2f2; /* Gray background color */
    padding: 30px; /* Adjust padding as needed */
    border-radius: 10px; /* Add rounded corners */
    border: 1px solid #ccc; /* Add border for visual separation */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    height: 100px;
    width: 500px;
}
.courseName{
    
    font-family: "Muli",sans-serif;
  display: inline-block;
  padding: 1px 7px;
  color: #ffffffff;
  font-weight: bold;
  font-size: 13px;
  background-color: #3992e5ff;
  border-radius: 3px;
  margin-bottom: 8px;
}

.wishlistButton{
    background-color: #2774AE;
    color: white;
    border-radius: 20px;
    padding: 10px 15px;
    border: 100px;
    margin-top: 30px;
    position: static;
}
.wishlistButton:hover {
    background-color: #FFD100;
    cursor: pointer;
}

.divider {
    border-left: 10px solid #FFD100;
    height: 700px;
    position: absolute;
    left: 12%;
    top: 70px;
  }

.outputContainer{
    left: 15%;
    position: absolute;
    top: 80px;
}

